In [7]:
people = {
    'first' : ['Corey',"Jane",'John'],
    'last' : ['Schafer','Doe','Doe'],
    'email' : ['CoreyMSchafer@gmail.com','JaneDoe@gmail.com','JhonDoe@gmail.com']
}

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [11]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [22]:
df[df['last'] == 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JhonDoe@gmail.com

In [23]:
filt = ((df['last'] == 'Doe') & (df['first']=='John'))

In [29]:
filt = ((df['last'] == 'Schafer') | (df['first']=='John'))

In [30]:
df[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [32]:
df.loc[~filt , ['email','first']]

               email first
1  JaneDoe@gmail.com  Jane