In [6]:
people = {
    'first' : 'Corey',
    'last' : 'Schafer',
    'email' : 'CoreyMSchafer@gmail.com'
}

In [7]:
people = {
    'first' : ['Corey'],
    'last' : ['Schafer'],
    'email' : ['CoreyMSchafer@gmail.com']
}

In [5]:
people = {
    'first' : ['Corey',"Jane",'John'],
    'last' : ['Schafer','Doe','Doe'],
    'email' : ['CoreyMSchafer@gmail.com','JaneDoe@gmail.com','JhonDoe@gmail.com']
}

In [6]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JhonDoe@gmail.com']

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(people)

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [10]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JhonDoe@gmail.com
Name: email, dtype: object

In [11]:
type(df['email'])

pandas.core.series.Series

In [12]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JhonDoe@gmail.com
Name: email, dtype: object

In [13]:
df[['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JhonDoe@gmail.com

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [19]:
df.iloc[[0,1] , [0,2]]

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@gmail.com

In [21]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [26]:
df.loc[[0,1] , ['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@gmail.com      Doe