In [6]:
people = {
    'first' : 'Corey',
    'last' : 'Schafer',
    'email' : 'CoreyMSchafer@gmail.com'
}

In [7]:
people = {
    'first' : ['Corey'],
    'last' : ['Schafer'],
    'email' : ['CoreyMSchafer@gmail.com']
}

In [1]:
people = {
    'first' : ['Corey',"Jane",'John'],
    'last' : ['Schafer','Doe','Doe'],
    'email' : ['CoreyMSchafer@gmail.com','JaneDoe@gmail.com','JhonDoe@gmail.com']
}

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JhonDoe@gmail.com']

In [3]:
import pandas as pd

In [18]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [7]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JhonDoe@gmail.com
Name: email, dtype: object

In [19]:
df.set_index('email',inplace=True)

In [20]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com         Jane      Doe
JhonDoe@gmail.com         John      Doe

In [12]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JhonDoe@gmail.com'], dtype='object', name='email')

In [13]:
df.loc['CoreyMSchafer@gmail.com','last']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [14]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [21]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JhonDoe@gmail.com   John      Doe