In [5]:
people = {
    'first' : ['Corey',"Jane",'John'],
    'last' : ['Schafer','Doe','Doe'],
    'email' : ['CoreyMSchafer@gmail.com','JaneDoe@gmail.com','JhonDoe@gmail.com']
}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [9]:
df.columns = ['first name','last name','email']
df

  first name last name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JhonDoe@gmail.com

In [10]:
df.columns = [x.lower() for x in df.columns]
df

  first name last name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JhonDoe@gmail.com

In [11]:
df.columns = df.columns.str.replace(' ','_')
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JhonDoe@gmail.com

In [12]:
df.rename(columns={'first_name':'first','last_name':'last'},inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [13]:
df.loc[2] = ['John','Smith','johnSmith@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      johnSmith@email.com

In [14]:
df.loc[2,['last','email']] = ['Doe','johnDoe@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        johnDoe@email.com

In [15]:
df.loc[2,'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        johnDoe@email.com

In [16]:
df.at[2,'last'] = 'Doe'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        johnDoe@email.com

In [17]:
filt =(df['email'] == 'johnDoe@email.com')
df[filt]['last'] = 'Smith'

C:\Users\HP TECHNOLOGY\AppData\Local\Temp\ipykernel_13380\1363362335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Smith'

In [18]:
filt =(df['email'] == 'johnDoe@email.com')
df.loc[filt,'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        johnDoe@email.com

In [19]:
df['email'] = df['email'].str.lower()
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

### apply
### map
### applymap
### replace

In [20]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [21]:
def update_email(email):
    return email.upper()

In [22]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@GMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [23]:
df['email'] = df['email'].apply(update_email)
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@GMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [24]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

In [25]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [26]:
df.apply(len, axis='rows')

first    3
last     3
email    3
dtype: int64

In [27]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [28]:
len(df['email'])

3

In [29]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [30]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [31]:
df.applymap(len)

C:\Users\HP TECHNOLOGY\AppData\Local\Temp\ipykernel_13380\1873024323.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [32]:
df.applymap(str.lower)
df

C:\Users\HP TECHNOLOGY\AppData\Local\Temp\ipykernel_13380\2208164466.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

In [33]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com

In [34]:
df['first'].map({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [35]:
df['first'] = df['first'].replace({'Corey':'Chris','Jane':'Mary'})
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@gmail.com
2   John    Smith        johndoe@email.com