In [1]:
people = {
    'first' : ['Corey',"Jane",'John'],
    'last' : ['Schafer','Doe','Doe'],
    'email' : ['CoreyMSchafer@gmail.com','JaneDoe@gmail.com','JhonDoe@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [5]:
df['first'] + ' ' + df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [6]:
df['full_name'] = df['first'] + ' ' + df['last']
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@gmail.com       Jane Doe
2   John      Doe        JhonDoe@gmail.com       John Doe

In [7]:
df.drop(columns=['first','last'])

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@gmail.com       Jane Doe
2        JhonDoe@gmail.com       John Doe

In [8]:
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@gmail.com       Jane Doe
2   John      Doe        JhonDoe@gmail.com       John Doe

In [9]:
df.drop(columns=['first','last'],inplace=True)

In [10]:
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@gmail.com       Jane Doe
2        JhonDoe@gmail.com       John Doe

In [11]:
df['full_name'].str.split(' ')

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
Name: full_name, dtype: object

In [12]:
df['full_name'].str.split(' ',expand= True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [13]:
df[['first','last']] = df['full_name'].str.split(' ',expand= True)

In [14]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JhonDoe@gmail.com       John Doe   John      Doe

In [15]:
people = {
    'first' : ['Tony',"Steve"],
    'last' : ['Stark','Rogers'],
    'email' : ['IronMan@avenge.com','Cap@avenge.com']
}
df2 = pd.DataFrame(people)

In [16]:
df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [17]:
df._append(df2,ignore_index=True,sort=False)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JhonDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [18]:
df = df._append(df2,ignore_index=True,sort=False)

In [19]:
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JhonDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [20]:
df.drop(index=4)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JhonDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark

In [22]:
filt = (df['last'] == 'Doe')
df.drop(index=df[filt].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers