In [9]:
people = {
    'first' : ['Corey',"Jane",'John','Adam'],
    'last' : ['Schafer','Doe','Doe','Doe'],
    'email' : ['CoreyMSchafer@gmail.com','JaneDoe@gmail.com','JhonDoe@gmail.com','A@email.com']
}

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(people)

In [12]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com
3   Adam      Doe              A@email.com

In [13]:
df.sort_values(by='last')

   first     last                    email
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com
3   Adam      Doe              A@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [14]:
df.sort_values(by='last',ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com
3   Adam      Doe              A@email.com

In [15]:
df.sort_values(by=['last','first'],ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JhonDoe@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
3   Adam      Doe              A@email.com

In [16]:
df.sort_values(by=['last','first'],ascending=[False,True])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [17]:
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True)

In [18]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com

In [19]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JhonDoe@gmail.com
3   Adam      Doe              A@email.com

In [20]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object